* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}



.nav-head ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.nav-item a {
    font-size: 25px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    padding: 12px 20px;
    position: relative;
}

.nav-item a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: #1f2937;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-item a:hover {
    transform: translateY(-2px);
}

.nav-item a:hover::after {
    width: 80%;
}

.nav-item a:active {
    transform: translateY(0);
}

body {
    background-color: rgb(159, 200, 242);
}