.nav-head ul {
	list-style: none;
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	font-size: 17pt;
	font-weight: 900;
}

html {
	scroll-behavior: smooth;
}

.btn:hover,
.btn-contact:hover {
	background-color: rgb(11, 23, 113);
	transform: scale(1.05);
}

.first {
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 100px;
}

.first-bg {
	background-image: url(../images/one.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.underheader {
	display: flex;
	flex-direction: column;
	width: 73.5%;
}

.solution {
	color: var(--primary);
}

h1 {
	font-size: 115px;
	margin-top: 5px;
	width: 90%;
}

.under-write {
	width: 85%;
	margin-top: -50px;
}

.btn,
.btn-contact {
	background-color: var(--primary);
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	height: 50px;
	width: 180px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
	transition: all 0.5s ease;
	font-size: 20px;
}

.about-me {
	height: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
}
.h2 {
	line-height: 65px;
}

.achievements {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 120px;
}

.achieve {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding-right: 200px;
}

.achieve h3 {
	margin-top: 0px;
}

.list-about {
	display: flex;
	justify-content: space-around;
	margin-left: -110px;
}

.list-about nav ul li {
	list-style: none;
}

.about-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.offer {
	text-align: center;
}

.offer-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	padding: 35px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	height: 330px;
	transition: all 0.3s ease;
	cursor: pointer;
}

.card:hover {
	transform: translateY(-5px) scale(1.03);
	background-color: rgb(250, 252, 253);
	box-shadow: 0 1px 8px rgba(102, 102, 102, 0.1);
}

h2 {
	font-size: 60px;
	margin-top: 2px;
}

.experience {
	height: 900px;
	text-align: center;
}

.experience-bg {
	background-color: #bcd9f7;
}

.section {
	display: flex;
	align-items: center;
	gap: 50px;
}

.left {
	display: flex;
	align-items: center;
	gap: 12px;
	min-width: 200px;
	position: relative;
}

.left::before {
	content: "";
	position: absolute;
	left: 10px;
	top: -70px;
	width: 3px;
	height: 230px;
	background: gray;
}

.dot {
	width: 15px;
	height: 15px;
	background: var(--primary);
	border-radius: 50%;
	position: absolute;
	left: 4px;
}

.section h2 {
	font-size: 20px;
	margin-top: 19px;
	margin-left: 30px;
}

.section-card {
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	text-align: left;
	padding: 25px;
	gap: 30px;
	width: 1500px;
	margin-top: 15px;
}

.item {
	flex: 1;
}

.item p {
	color: #555;
}

.logo {
	width: 250px;
	height: 80px;
}

#Portfolio,
#Testimonial,
#Resume {
	margin-top: 100px;
	text-align: center;
}

.img-1 {
	grid-area: img1;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.img-1:hover,
.img-2:hover,
.img-3:hover,
.img-4:hover,
.img-5:hover,
.img-6:hover,
.img-7:hover,
.img-8:hover {
	opacity: 0.9;
	transform: translateY(-5px) scale(1.03);
	cursor: pointer;
}

.img-2 {
	grid-area: img2;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.img-3 {
	grid-area: img3;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.img-4 {
	grid-area: img4;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.img-5 {
	grid-area: img5;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.img-6 {
	grid-area: img6;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.img-7 {
	grid-area: img-7;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.img-8 {
	grid-area: img-8;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery {
	width: 1000px;
	display: grid;
	grid-template-areas:
		"img1 img2 img3"
		"img4 img5 img6";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 18px;
	justify-content: center;
	align-items: center;
	margin-left: 195px;
	margin-top: 30px;
	cursor: pointer;
}

.gallery2 {
	width: 1000px;
	display: grid;
	grid-template-areas: "img-7 img-8";
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto;
	justify-content: center;
	align-items: center;
	margin-left: 195px;
	margin-top: 20px;
	gap: 18px;
	cursor: pointer;
}

.latest {
	margin-left: 5px;
	margin-top: 15px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.latest-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.latest-img {
	transition: all.5s ease-in-out;
}

.latest-img:hover {
	opacity: 0.8;
	transform: translateY(-5px) scale(1.03);
	cursor: pointer;
}

.latest-card {
	width: 500px;
	height: 600px;
	display: flex;
	flex-direction: column;
}

.p1 {
	border: 0.5px solid rgb(239, 239, 239);
	transition: 0.5s ease-in-out;
}

.p1:hover {
	box-shadow: 0px 10px 10px 4px gray;
	transform: translateY(-5px) scale(1.03);
	cursor: pointer;
}

.latest-card a {
	text-decoration: none;
	color: rgb(91, 135, 216);
	transition: all 0.3s ease;
}
.latest-card a:hover {
	color: rgb(7, 60, 96);
}
.reputed {
	margin-top: 80px;
	text-align: center;
	margin-bottom: 80px;
}

.reputed-img {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 34px;
}

.card-feedback {
	width: 450px;
	height: 300px;
	background-color: rgb(219, 231, 255);
	text-align: center;
	display: flex;
	align-items: flex-start;
	padding: 30px;
}

.cards {
	display: flex;
	gap: 18px;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.cards h4 {
	margin-left: 15px;
	text-align: left;
}

.client {
	text-align: left;
	margin-left: 15px;
	color: gray;
	margin-bottom: 20px;
	margin-top: -10px;
}

.undertext {
	text-align: left;
	margin-left: 15px;
}

.rounded {
	border-radius: 50px;
}

.contact-container {
	display: flex;
	justify-content: space-between;
	margin: 80px 0 50px 0px;
}

form {
	flex: 1;
}

form button {
	margin-top: 15px;
}

.address h3,
.numb,
.add,
.mail {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}

.numb:hover,
.add:hover,
.mail:hover {
	color: var(--primary);
}

.contacts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	height: 150px;
	width: 800px;
}

textarea {
	display: flex;
	margin-top: 10px;
	width: 800px;
	height: 70px;
}

input::placeholder {
	padding-left: 10px;
	font-size: 20px;
}

textarea::placeholder {
	padding-left: 10px;
	padding-top: 10px;
	font-size: 20px;
}

.add {
	margin-left: -12px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

form input,
textarea {
	border: 1px solid rgb(34, 135, 213);
	padding: 20px;
	font-size: 20px;
}

.footer-about {
	display: flex;
	flex-direction: column;
	width: 20%;
}

.footer-links-above {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin-top: 50px;
}

.footwrite {
	padding-top: 10px;
	line-height: 25px;
}

.mail a {
	color: white;
	text-decoration: none;
}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.footer-content h3 {
	margin-top: 0;
}

.footer-links {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer-links ul {
	padding: 0;
	margin-top: 0;
}

.footer-links a {
	text-decoration: none;
	color: white;
	transition: color 0.3s ease, opacity 0.3s ease;
}

.footer-links a:hover {
	color: rgb(23, 132, 205);
	opacity: 0.5;
}

.follow-me {
	margin-right: 12px;
}

.footer-links nav ul {
	list-style: none;
	margin-top: 10px;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid gray;
	padding: 10px;
	margin-top: 150px;
}

.footer-bottom a {
	text-decoration: none;
	color: white;
	transition: all 0.5s ease-in-out;
}

.rights {
	display: flex;
	gap: 60px;
}

.rights a:hover {
	color: var(--primary);
	opacity: 0.5;
}

.logofoot {
	margin-top: -60px;
}

.burger {
	display: none;
}

.nav-foot {
	line-height: 35px;
}
