* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	height: 100vh;
	overflow-x: hidden;
}

.container {
	margin: 0 auto;
	max-width: 1450px;
	min-width: 1400px;
}

.head {
	margin-left: 40px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 130px;
	background-color: white;
}

.one {
	position: relative;
	display: inline-block;
	margin-top: 50px;
}

.one::before {
	content: "";
	width: 15px;
	height: 15px;
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: -20px;
}

.nav-head ul {
	list-style: none;
	display: flex;
	gap: 20px;
	padding-right: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-head ul li a:hover {
	cursor: pointer;
	color: rgb(23, 132, 205);
	transition: 0.3s ease;
}

.nav-head ul li a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.contact {
	background-color: rgb(35, 141, 246);
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	height: 50px;
	width: 130px;
	box-shadow: 5px 0 15px 0 black;
	margin-right: 80px;
}

.first {
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.first-bg {
	background-image: url(../images/one.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.underheader {
	display: flex;
	flex-direction: column;
	width: 80%;
	padding-left: 30px;
}

.img-one {
	width: 20%;
	padding-left: 150px;
	padding-right: 200px;
}

.solution {
	color: rgb(17, 64, 235);
}

h1 {
	font-size: 90px;
	margin-top: 5px;
	line-height: 85px;
}

.underwrite {
	font-size: 20px;
	line-height: 20px;
	margin-top: -20px;
}

.btn {
	margin-top: 10px;
	background-color: rgb(17, 39, 211);
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	height: 50px;
	width: 150px;
	box-shadow: 5px 0 15px 0 black;
}

.btn:hover {
	background-color: rgb(11, 23, 113);
}

.about-me {
	height: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
	margin-top: 50px;
	padding: 0px 10px;
}

.achievements {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 120px;
}

.achieve {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding-right: 50px;
}

.achieve h3 {
	font-size: 40px;
	margin-top: 0px;
}

.list-about {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
	padding-right: 80px;
}

.list-about nav ul li {
	list-style: none;
	line-height: 50px;
}

.about-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.offer {
	text-align: center;
	padding: 50px;
}

.offer-cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 20px;
	justify-content: center;
	padding: 35px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
	box-shadow: 5px 0 15px 0 gray;
	border-radius: 10px;
	width: 250px;
	height: 250px;
	transition: all 0.4s ease;
}

.card:hover {
	transform: translateY(-5px) scale(1.03);
	background-color: antiquewhite;
}

h2 {
	font-size: 60px;
	line-height: 50px;
	margin-top: 2px;
}
.experience {
	height: 800px;
	text-align: center;
}
.experience-bg {
	background-color: #bcd9f7;
}
.section {
	display: flex;
	align-items: center;
	gap: 40px;
}

.left {
	display: flex;
	align-items: center;
	gap: 12px;
	min-width: 200px;
	position: relative;
}

.left::before {
	content: "";
	position: absolute;
	left: 10px;
	top: -70px;
	width: 3px;
	height: 230px;
	background: gray;
}

.dot {
	width: 15px;
	height: 15px;
	background: #1e90ff;
	border-radius: 50%;
	position: absolute;
	left: 4px;
}
.section h2 {
	font-size: 20px;
	margin-top: 19px;
	margin-left: 30px;
}

.section-card {
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	text-align: left;
	padding: 25px;
	gap: 30px;
	width: 1000px;
}
.item {
	flex: 1;
}

.item h3 {
	font-size: 16px;
	margin-bottom: 5px;
}

.item p {
	color: #555;
	font-size: 14px;
}

.logo {
	width: 250px;
	height: 80px;
}

.img-1 {
	grid-area: img1;
}

.img-1:hover {
	box-shadow: 0 10px 20px 0 black;
}

.img-2 {
	grid-area: img2;
}

.img-2:hover {
	box-shadow: 0 10px 20px 0 black;
}

.img-3 {
	grid-area: img3;
}

.img-3:hover {
	box-shadow: 0 10px 20px 0 black;
}

.img-4 {
	grid-area: img4;
}

.img-4:hover {
	box-shadow: 0 10px 20px 0 black;
}

.img-5:hover {
	box-shadow: 0 10px 20px 0 black;
}

.img-5 {
	grid-area: img5;
}

.img-6 {
	grid-area: img6;
}

.img-6:hover {
	box-shadow: 0 10px 20px 0 black;
}

.img-7 {
	grid-area: img-7;
}

.img-7:hover {
	box-shadow: 0 10px 20px 0 black;
}

.img-8 {
	grid-area: img-8;
}

.img-8:hover {
	box-shadow: 0 10px 20px 0 black;
}

.gallery {
	width: 1000px;
	display: grid;
	grid-template-areas:
		"img1 img2 img3"
		"img4 img5 img6";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 20px;
	justify-content: center;
	align-items: center;
	margin-left: 220px;
	margin-top: 50px;
	cursor: pointer;
}

.gallery2 {
	width: 1000px;
	display: grid;
	grid-template-areas: "img-7 img-8";
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto;
	gap: 20px;
	justify-content: center;
	align-items: center;
	margin-left: 220px;
	margin-top: 20px;
	cursor: pointer;
}

.latest {
	margin-left: 5px;
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.latestcards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.latestimg {
	transition: 0.9 ease;
}

.latestimg:hover {
	opacity: 0.8;
	transform: translateY(-5px) scale(1.03);
}

.latestcard {
	width: 500px;
	height: 600px;
	display: flex;
	flex-direction: column;
}

.p1 {
	border: 1px solid rgb(186, 180, 180);
}
.p1 :hover {
	box-shadow: 0 10px 10px 0 gray;
}

.latestcard a {
	text-decoration: none;
	color: rgb(64, 109, 193);
}

.reputed-img {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 22px;
}

.card1 {
	width: 400px;
	height: 200px;
	background-color: rgb(198, 218, 247);
	text-align: center;
	display: flex;
	align-items: flex-start;
	padding: 20px;
}

.cards {
	display: flex;
	gap: 50px;
	justify-content: center;
	align-items: center;
}

.cards h4 {
	margin-left: 10px;
	text-align: left;
}

.client {
	text-align: left;
	margin-left: 10px;
	color: gray;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: -10px;
}

.undertext {
	font-size: 14px;
	line-height: 1.4;
	text-align: left;
}

.rounded {
	border-radius: 50px;
}

.contactcontainer {
	display: flex;
	justify-content: space-between;
	margin-left: 25px;
}

form {
	flex: 1;
}

.address {
	flex: 1;
	margin-right: -720px;
}

.address h3,
.numb,
.add,
.mail {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	cursor: pointer;
}

.numb:hover {
	color: rgb(23, 132, 205);
}

.add:hover {
	color: rgb(23, 132, 205);
}
.mail:hover {
	color: rgb(23, 132, 205);
}

.contacts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
	height: 150px;
	width: 700px;
	margin-left: -70px;
}

textarea {
	display: flex;
	margin-top: 10px;
	width: 695px;
	height: 70px;
	margin-left: -70px;
}

form button {
	margin-left: -70px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: 50px;
}

form input,
textarea {
	border: 1px solid rgb(34, 135, 213);
}

footer {
	background-color: black;
	color: white;
	height: 400px;
	padding: 38px;
	margin-left: -10px;
	margin-bottom: -100px;
}

.footwrite {
	font-size: 20px;
	line-height: 20px;
	padding-top: 10px;
	padding-left: -20px;
}

.mail {
	font-size: 30px;
	padding-top: -10px;
}

.mail a {
	color: white;
	text-decoration: none;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-links {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 17px;
}

.footer-links a {
	text-decoration: none;
	color: white;
	margin-left: -30px;
	line-height: 30px;
}

.footer-links nav ul {
	list-style: none;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid gray;
	padding: 20px;
	margin-top: 100px;
}

.footer-bottom a {
	text-decoration: none;
	color: white;
	font-size: 15px;
}

.rights {
	display: flex;
	gap: 60px;
}

.logofoot {
	margin-top: -80px;
}
