:root {
	--primary: rgb(35, 141, 246);
}

@font-face {
	font-family: Handcaps;
	src: url("../fonts/Handcaps.otf");
}

* {
	box-sizing: border-box;
	font-family: 'open-sans', sans-serif;
    font-weight: 500; 
}
	
body {
	margin: 0;
	height: 100vh;
	overflow-x: hidden;
}
main {
	margin-top: 100px;
}

.container {
	margin:0 auto;
	padding: 0 25px;
	max-width: 1440px;
	min-width: 1400px;
}

header {
	top: 0;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	background-color: rgb(255, 255, 255);
	width: 100%;
	z-index: 10;
	left: 0;
	right: 0;
}

.nav-item {
	text-decoration: none;
	font-weight: bold;
}
.nav-item a {
	transition: all 0.3s ease;
	color: black;
	position: relative;
	text-decoration: none;
}
.nav-item a:hover {
	cursor: pointer;
	color: var(--primary);
}
.nav-item a::before {
	transition: all 0.3s;
	content: "";
	width: 40px;
	height: 3px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	right: 50%;
	transform: translate(-50%, 0);
	background-color: var(--primary);
	opacity: 0;
}

.nav-item a:hover::before {
	opacity: 1;
}

.one {
	position: relative;
	display: inline-block;
	left: 20px;
}

.one::before {
	content: "";
	width: 15px;
	height: 15px;
	background-image: url(../images/Component\ 1.svg);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: -20px;
	bottom: 3px;
}

footer {
	background-color: black;
	color: white;
	height: 500px;
	padding: 40px 0;
}

.burger {
	display: none;
}

.mobile-menu {
	display: none;
}

@media only screen and (max-width: 1440px) {
	.container {
		min-width: auto;
	}
}

@media only screen and (max-width: 767px) {
	body {
		overflow-x: hidden;
	}

	.nav-head a {
		display: none;
	}
	.burger {
		display: block;
		cursor: pointer;
		border: none;
		background-color: transparent;
		transition: all 0.2s ease-in-out;
	}
	.burger:hover {
		transform: scale(1.1);
	}
	.close-btn {
		background-color: transparent;
		border: none;
		cursor: pointer;
		position: absolute;
		right: 25px;
		top: 25px;
		transition: all 0.2s ease-in-out;
		/* top: 0; */
	}
	.close-btn:hover {
		transform: scale(1.1);
	}
	.mobile-menu {
		/* display: none; */
		display: block;
		transform: translateX(-100%);
		background-color: rgb(28, 30, 44);
		height: 100%;
		width: 300px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		transition: all 0.2s ease-in-out;
	}
	.mobile-menu ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 25px;
		
	}

	.mobile-menu ul li {
		border-bottom: 1px solid white;
	}
	.mobile-menu ul a {
		color: white;
		line-height: 40px;
		transition: all 0.3s ease;
		
	}
	.mobile-menu ul a:hover {
		color: var(--primary);
	}
	.mobile-menu .btn{
		margin: 25px;
		width: 250px;
	}

	.mobile-head{
		background-color: rgb(202, 215, 241);
		width: 300px;
		padding: 0px;
		margin: 0px;
		height :100px;}

		.mobile-head img{
			margin: 25px;
			z-index: 11;}

}