:root {
	--primary: rgb(35, 141, 246);
}

@font-face {
	font-family: Handcaps;
	src: url("../fonts/Handcaps.otf");
}

* {
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	font-weight: 500;
	
}


	/* select {
    margin-left: 20px;
    background-color: #96d1fa;                        
    border: 2px solid var(--primary);        
    border-radius: 12px;              
    padding: 8px 12px;                
    font-size: 16px;
    cursor: pointer;
} */

.themes{
	margin-left: 20px;
}

.close-btn-sidebar {
		background-color: transparent;
		border: none;
		cursor: pointer;
		position: absolute;
		right: 25px;
		top: 25px;
		transition: all 0.2s ease-in-out;
		
	}

	.close-btn-sidebar:hover {
		transform: scale(1.1);
	}

	.desktop-head img {
		margin: 25px;}

		.languages{
         font-size: larger;
		 padding-left: 20px;

		}

	.menu {
		transform: translateX(-100%);
		background-color: rgb(194, 225, 255);
		height: 100%;
		width: 300px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		transition: all 0.2s ease-in-out;
		position: fixed;
		z-index: 111;
	}

	.menu ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 25px;
	}

	.menu ul li {
		border-bottom: 1px solid var(--primary);
	}

	.menu ul a {
		color: black;
		line-height: 30px;
		transition: all 0.3s ease;
	}
	.menu ul a:hover {
		color: var(--primary);
	}
	


 .features{
	width: 35px;
	height: 35px;
	position: fixed;
	bottom: 50%;
	top: 45%;
	left: -10px;
	border-radius: 50%;
	background-color: var(--primary);
	color: white;
	border: none;
	cursor: pointer;
	opacity: 0.6;
	transition: all 0.3s ease;
 }

 .features:hover{
	opacity: 1;

}

h1 {
	line-height: 1.2;
}

body {
	margin: 0;
	height: 100vh;
	overflow-x: hidden;
}

main {
	margin-top: 100px;
}

.container {
	margin: 0 auto;
	padding: 0 25px;
	max-width: 1400px;
	min-width: 1390px;
}




header {
	top: 0;
	right: 0;
	width: 100%;
	z-index: 100;
	position: fixed;
	background-color: rgb(255, 255, 255);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 100%;
	z-index: 10;
	left: 0;
	right: 0;
	background: cover;
}

.nav-item {
	text-decoration: none;
	font-weight: bold;
}

.nav-item a {
	transition: all 0.3s ease;
	color: black;
	position: relative;
	text-decoration: none;
}

.nav-item a:hover {
	cursor: pointer;
	color: var(--primary);
}

.nav-item a::before {
	transition: all 0.3s;
	content: "";
	width: 40px;
	height: 3px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	right: 50%;
	transform: translate(-50%, 0);
	background-color: var(--primary);
	opacity: 0;
}

.nav-item a:hover::before {
	opacity: 1;
}

.one {
	position: relative;
	left: 20px;
	display: inline-block;
}

.one::before {
	content: "";
	width: 15px;
	height: 15px;
	background-image: url(../images/Component\ 1.svg);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: -20px;
	bottom: 3px;
}

footer {
	background-color: black;
	color: white;
	height: 550px;
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
}

.burger {
	display: none;
}

.mobile-menu {
	display: none;
}

@media only screen and (max-width: 1440px) {
	.container {
		min-width: auto;
	}
}

@media only screen and (max-width: 767px) {

body {
  overflow-x: hidden;
 } 

 .header{
  padding: 0 15px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  }

  header{

	background-color: rgb(219, 237, 255);
  }

  .mobile-logo-menu{
	display: flex;
    justify-content: space-between;
	gap: 10rem;
}

.head img{
	width: 150px;
	height: auto;
}

/* #loader{
display: none;}

#weather{
	  display: none;}*/

	  .head{
	position: relative;
}

 #weather{
  position: absolute;
  top: 5px;
  left: 230px;
  width: 20px;
}

.loader {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid var(--primary);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: loading-spin 1s linear infinite;
  margin: 20px auto; 
  position: absolute; 
  top: 5px;
  left: 230px;
  

}

@keyframes loading-spin {
   0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 

  .btn-contact{
   display: none;
  } 

  main{
	margin-top: 7rem;
  }

  .under-header{
	padding-top: 20px;
  }

  .first{
   display: flex;
   justify-content: left;
  }
  .nav-head ul{
	display: none;
}

.nav-head ul li a{
	display: none;
}

.head{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.first-bg{
	background-image: none;
	background-color: rgb(194, 225, 255);;
	background-size: cover;
	width: 100%;
	margin-bottom: 20px;
	align-items: flex-start;
    height: 680px;
    margin-top: -12px;
}

.underheader{
	width: 100%;
}

.about-me{
	flex-direction: column;
	height: auto;
	gap: 40px;
 }

 .about-img img{
	width:  350px;
	height: 450px;
 }

 .gallery ,.gallery2
{ display: none;}


 .gallery-container{
	display: block;
 }


 .gallery-container { 
  display: flex;
  gap: 20px;
  overflow-x: auto; 
  padding: 20px;
  scroll-snap-type: x mandatory; 
}



.gallery-scroll{
  flex: 0 0 auto; 
  height: 300px;
  width: 320px;
  scroll-snap-align: start; }


.gallery-scroll img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.reputed {
	margin-top: 80px;
	text-align: center;
	margin-bottom: 80px;
}

.reputed-img {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	/* flex-direction: column; */
	border-radius: 20px;
	flex-wrap: wrap;
 }

 .latest-cards{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	
 }

 .latest-card{
	height: 400px;
 }

 .img-late img{
	width: 350px;
	height: 250px;
 }


 .latest{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	text-align: start;	
	margin-left: 0px;	
 }

 .nav-gallery ul{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	font-weight: 100;
 }

 .nav-gallery ul li a{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
 }
 .contacts{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 20px;
	height: auto;
	width: auto;
	flex-direction: column;
 }

 .contacts input{
	width: 340px;
 }

 .form-input , textarea{
	width: 340px;
	padding: 5px;
 }


 .contact-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
 }

 .address{
	margin-left: -100px;
 }






 /* .gallery-container{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	width: 350px;
	margin-left: 0px;	
 }   */

 /* .img-1 img, .img-2 img, .img-3 img, .img-4 img, .img-5 img, .img-6 img{
	width: 350px;
	height: 300px;
	flex: 1;
 } */

 /* .img-7 img, .img-8 img{
	width: 350px;
	height: 400px;
	flex: 1;
 } */ 



 .under-write{
	padding-top: 15px;
	line-height: 2rem;
 }

 .card-feedback {
	width: 350px;
	height: 300px;
	background-color: rgb(219, 231, 255);
	display: flex;
	align-items: flex-start;
	padding: 30px;
	text-align: left;
	flex: 1;

}

.cards {
	display: flex;
	gap: 18px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

 h1{
	font-size: 50px;
 	margin-top: 1rem;
 }

 h2 ,.h2{
	font-size: 30px;
	line-height: 30px;
 }

 .achievements {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0px;
	margin-top: 10px;
}

.about-content{
	margin-bottom: 2rem;
}

.left {
	gap: 12px;
	min-width: 0px;
	position: relative;
	top: -400px;
	left: 150px;
}

.left::before {
	content: "";
	position: absolute;
	left: 10px;
	top: 0px;
	width: 3px;
	height: 3px;
	background: #bcd9f7;
}




.dot{
	display: none;
}

.experience {
	height: 2200px;
	text-align: center;
	margin-top: 10px;
}

.section{
	display: flex;
	gap: 0px;
}

.section-card{
	flex-direction: column;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	

	


}

.software-title{
	margin-top: 80px;
	margin-left: -20px;
}

.section h2{
	display: none;
}

.item{
	display: flex;
	flex-direction: column;
	height: 200px;
	flex: 0;
	width: 100%;
}

.list-about{
	display: list-item;
	flex-direction: column;
	margin-left: -40px;
	}


.achieve {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding-right: 0px;
	align-items: center;
    margin-left: 0px;
}

.achieve h3 {
	margin-top: 0px;
}

 .first-bg img{
	display: none;
 }

 #language-select{
	margin-bottom: 40px;
    width: 140px;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #ccc;
    background-color: #81a1bf;
    color: #333;
    outline: none;
    cursor: pointer;
}

#language-select:hover {
    border-color: #888;
}


  .language ,.themes{
	margin: 0px;
	margin-bottom: 40px;
	color: white;
    line-height: 30px;
	font-size: medium;
	padding-left: 25px;
  }

.menu{
	display: none;
}

.features{
	display: none;
}

 .nav-head a {
  display: none;
 }

 .burger {
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  align-items: flex-end;
  margin-left: 155px;
 }

 .first{
	height: auto;
 }

 .burger:hover {
  transform: scale(1.1);
 }

 .close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 25px;
  transition: all 0.2s ease-in-out;
  
 }

 .close-btn:hover {
  transform: scale(1.1);
 }

 .mobile-menu {
  
  display: block;
  transform: translateX(-100%);
  background-color: rgb(28, 30, 44);
  height: 100vh;
  width: 300px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  transition: all 0.2s ease-in-out;
  position: fixed;
 }

 .mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  padding-top: 15px;
 }

 .mobile-menu ul li {
  border-bottom: 1px solid white;
 }

 .mobile-menu ul a {
  color: white;
  line-height: 30px;
  transition: all 0.3s ease;
  font-size: medium;
 }
 .mobile-menu ul a:hover {
  color: var(--primary);
 }
 .mobile-menu .btn {
  margin: 25px;
  width: 250px;
 }

 .mobile-head {
  background-color: rgb(202, 215, 241);
  width: 300px;
  padding: 0px;
  margin: 0px;
  height: 100px;
 }

 .mobile-head img {
  margin: 25px;
  z-index: 11;
 }

 footer {
  width: 100vw;
  height: auto;
  padding: 20px;
 }

 .footer-content {
  flex-direction: column;
 }
.footer-about {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: -15px;}
 

 .footer-links nav {
  flex: 1;
  min-width: 100px;
 }

 .footer-links nav ul li {
  margin-bottom: 10px;
 }

 .follow-me {
  margin-top: 0;
  width: 100%;
  order: 3;
 }

 .footer-bottom {
  margin-top: 50px;
 }

 .rights {
  flex-direction: column;
  gap: 10px;
 }

 .logo-foot {
  margin-top: 0;
  text-align: center;
 }

 .btn {
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  padding-top: 13px;
 }

 .footer-links-above {
  flex-direction: column;
  gap: 15px;}

  .container {
 margin: 0 auto;
 padding: 0 25px;
 max-width: 400px;
 min-width: 375px;
}


.gallery img .gallery2{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reputed img{
	display: flex;
	flex-direction: column;
	align-items: center;
}
}